body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fce5cd; /* Color pastel */
}



nav {
    display: grid;
    justify-items: center;
    background-color: #ffb6c183; /* Azul claro pastel */
    padding: 1em;
}


nav h2,h1{
    font-family: 'Arial', sans-serif;
    font-weight: bold; /* Negrita */
    text-align: center;
    margin: 0; /* Eliminar el margen predeterminado */
    color: #fff; /* Color blanco para el texto */

}

nav img {
    max-height: 300px;
    max-width: 100%; /* Ajustar el ancho máximo al 100% del contenedor */
    display: block; /* Eliminar espacio adicional debajo de la imagen */
    margin: 0 auto; /* Centrar la imagen */
}


.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff; /* Blanco */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 1em;
    background-color: #ffb6c1; /* Rosa pastel */
    color: #fff; /* Blanco */
}
section {
    text-align: center;
    padding: 20px;
}

video {
    width: 100%;
    max-width: 640px;
    height: auto;
    margin-bottom: 20px;
}

p {
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    line-height: 1.6;
}